{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "complexity": ["error", 7],
    "max-statements": ["error", 23]
  }
}
