{
  "extends": "../.eslintrc",
  "env": {
    "node": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "beforeAll": true,
    "afterAll": true,
    "beforeEach": true,
    "afterEach": true,
    "vi": true
  }
}
